{% extends 'base.html' %}
{% block content %}

<h2>{{ quiz.title }}</h2>
<form method="POST">
    {% csrf_token %}

    {% for q in questions %}
        <p><strong>{{ q.text }}</strong></p>

        {% for c in q.choices.all %}
            <label>
                <input type="radio" name="{{ q.id }}" value="{{ c.id }}">
                {{ c.option }}
            </label><br>
        {% endfor %}
        <hr>
    {% endfor %}

    <button class="btn btn-success">Submit</button>
</form>

{% endblock %}
